@tailwind base;
@tailwind components;
@tailwind utilities;



h1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.75em;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  h4 {
    font-size: 1.25em;
    font-weight: bold;
  }
  
  h5 {
    font-size: 1em;
    font-weight: bold;
  }
  
  h6 {
    font-size: 0.875em;
    font-weight: bold;
  }
  